.Contact {
  background-image: linear-gradient(to bottom, rgba(19, 20, 21, 0.52), rgba(6, 6, 6, 0.73)),url('https://images.pexels.com/photos/20021/pexels-photo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
  color : white;
  min-height: 540px;
  font-family: monospace;
  overflow: hidden;
}

@media (min-width: 300px) and (max-width:500px)
 {
     .Contact {
      
      padding:0px;
      
    }
 }